@charset 'utf-8';

@font-face {
  font-family: 'HanSansNeo';
  font-style: normal;
  font-weight: 300;
  src: local('※'),
    url('../font/SpoqaHanSansNeo-Light.woff2') format('woff2'),
    url('../font/SpoqaHanSansNeo-Light.woff') format('woff'),
    url('../font/SpoqaHanSansNeo-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'HanSansNeo';
  font-style: normal;
  font-weight: 400;
  src: local('※'),
    url('../font/SpoqaHanSansNeo-Regular.woff2') format('woff2'),
    url('../font/SpoqaHanSansNeo-Regular.woff') format('woff'),
    url('../font/SpoqaHanSansNeo-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'HanSansNeo';
  font-style: normal;
  font-weight: 500;
  src: local('※'),
    url('../font/SpoqaHanSansNeo-Medium.woff2') format('woff2'),
    url('../font/SpoqaHanSansNeo-Medium.woff') format('woff'),
    url('../font/SpoqaHanSansNeo-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'HanSansNeo';
  font-style: normal;
  font-weight: 700;
  src: local('※'),
    url('../font/SpoqaHanSansNeo-Bold.woff2') format('woff2'),
    url('../font/SpoqaHanSansNeo-Bold.woff') format('woff'),
    url('../font/SpoqaHanSansNeo-Bold.ttf') format('truetype');
}


/* =============================================================== */


@font-face {
  font-family: 'SF-Pro';
  font-style: normal;
  font-weight: 300;
  src: local('※'),
    url('../font/SF-Pro/SF-Pro-Text-Light.otf') format('otf');
}

@font-face {
  font-family: 'SF-Pro';
  font-style: normal;
  font-weight: 400;
  src: local('※'),
  url('../font/SF-Pro/SF-Pro-Text-Regular.otf') format('otf');
}

@font-face {
  font-family: 'SF-Pro';
  font-style: normal;
  font-weight: 500;
  src: local('※'),
  url('../font/SF-Pro/SF-Pro-Text-Medium.otf') format('otf');
}

@font-face {
  font-family: 'SF-Pro';
  font-style: normal;
  font-weight: 600;
  src: local('※'),
  url('../font/SF-Pro/SF-Pro-Text-Semibold.otf') format('otf');
}

@font-face {
  font-family: 'SF-Pro';
  font-style: normal;
  font-weight: 700;
  src: local('※'),
  url('../font/SF-Pro/SF-Pro-Text-Heavy.otf') format('otf');
}



/* =============================================================== */


/** Ultra Light */
@font-face {
  font-family: "San Francisco";
  font-weight: 100;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-ultralight-webfont.woff");
}

/** Thin */
@font-face {
  font-family: "San Francisco";
  font-weight: 200;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.woff");
}

/** Regular */
@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

/** Medium */
@font-face {
  font-family: "San Francisco";
  font-weight: 500;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.woff");
}

/** Semi Bold */
@font-face {
  font-family: "San Francisco";
  font-weight: 600;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.woff");
}

/** Bold */ 
@font-face {
  font-family: "San Francisco";
  font-weight: 700;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff");
}